// colors
$light-black: #212120;
$orange: #f4621b;
$white: #fff;
$silver: #bcbcbc;
$gray: #5e5e5e;
$light-gray: #dddddd;
$black: #000;
$pampas: #f4f3ef;

$averagegray: #bdbdbd;
$lightgray: #d6d6d6;
$neutral: #efefef;
$gold: #cc9933;
$err: #ff3333;
$attention: #ff6161;
$accent: #2f80ed;

$base-font-size: 16px; // Body Font Size
$textcolor: #25272b; // Text Color
$mainfamily: 'Montserrat', sans-serif; // Main Font Family

$base-duration: 0.2s;
$base-timing: ease-in;

$mobile-bp: 1000px;
$tablet-bp: 1150px;
$laptop-bp: 1366px;
$max-width: 1600px;
