.container--contacts {
  max-width: 640px;
}
.btn-link--contacts {
  display: block;
  margin-bottom: 4px;
}
.simple-text--contacts {
  margin-bottom: 20px;
}
.h1-title--contacts {
  margin-bottom: 20px;
}
